.navbar-u {
  width: 100%;
  height: 50px;
  background: white;
  position: fixed;
  z-index: 8; }
  .navbar-u .menu-u {
    width: 240px;
    height: 100vh;
    background: #111;
    z-index: 1;
    top: 0;
    left: -240px;
    position: fixed;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
    .navbar-u .menu-u.active {
      left: 0px; }
  .navbar-u .burger-menu {
    width: 19px;
    height: 12px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 10px; }
    .navbar-u .burger-menu.active .line:nth-of-type(1) {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 3px; }
    .navbar-u .burger-menu.active .line:nth-of-type(2) {
      width: 0; }
    .navbar-u .burger-menu.active .line:nth-of-type(3) {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: 3px; }
    .navbar-u .burger-menu .line {
      width: 100%;
      height: 2px;
      background: #111;
      position: absolute;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
      .navbar-u .burger-menu .line:nth-of-type(1) {
        top: 0; }
      .navbar-u .burger-menu .line:nth-of-type(2) {
        top: calc(12px/2); }
      .navbar-u .burger-menu .line:nth-of-type(3) {
        top: calc(12px/1); }
  .navbar-u .title-u {
    color: #111;
    font-size: 18px;
    text-align: center;
    line-height: 50px; }

.nav-bottom {
  width: 100%;
  height: 45px;
  background: white;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 8; }
  .nav-bottom .nav-link {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: deeppink;
    font-weight: 600; }
    .nav-bottom .nav-link a {
      text-decoration: none;
      color: #111;
      font-weight: bold; }
