.movieContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 5px; }
  .movieContainer .movie {
    -webkit-box-flex: 43%;
        -ms-flex: 43%;
            flex: 43%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 160px;
    overflow: hidden;
    margin: 3px;
    position: relative;
    -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px; }
    @media (min-width: 1024px) {
      .movieContainer .movie {
        -webkit-box-flex: 210px;
            -ms-flex: 210px;
                flex: 210px; } }
    .movieContainer .movie .details {
      z-index: 3;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px; }
      .movieContainer .movie .details .rate {
        margin: 0px;
        font-size: 12px;
        background: deeppink;
        display: inline;
        padding: 2px 4px;
        border-radius: 4px;
        color: white;
        font-weight: 600; }
      .movieContainer .movie .details .title {
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        margin: 0px;
        margin-bottom: 7px; }
    .movieContainer .movie img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; }

.form-m {
  border: solid 1px transparent;
  border-radius: 0;
  margin-bottom: -10px;
  margin-top: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0px 10px;
  -ms-touch-action: none;
      touch-action: none; }

.single_movie {
  width: 100%;
  position: relative; }
  .single_movie .info {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    background: white;
    z-index: 2;
    position: relative;
    margin: 0 auto; }
    .single_movie .info .overview-s {
      font-size: 14px;
      color: #444; }
    .single_movie .info .details-s {
      width: 100%;
      height: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 10px; }
      .single_movie .info .details-s .date-s,
      .single_movie .info .details-s .runtime-s {
        font-size: 12px;
        color: #444;
        font-style: italic;
        margin-right: 18px; }
    .single_movie .info .genre-s {
      width: 100%;
      height: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 10px; }
      .single_movie .info .genre-s .genre {
        font-size: 12px;
        color: #fff;
        padding: 1px 3px;
        border-radius: 2px;
        background: #222;
        margin-right: 5px; }
  .single_movie .backdrop {
    width: 100%;
    height: 300px;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1; }
    .single_movie .backdrop .title-s {
      font-size: 19px;
      color: #fff;
      font-weight: bold;
      z-index: 3;
      position: absolute;
      bottom: 10px;
      left: 10px;
      opacity: .9; }
    .single_movie .backdrop img {
      z-index: 0;
      width: 100%;
      height: 100%;
      -o-object-position: center;
         object-position: center;
      -o-object-fit: cover;
         object-fit: cover; }
